/* Evitar selección de texto en elementos de navegación global */
.VPNavBar, 
.VPSidebar, 
.VPFlyout,
.VPCleanButtons {
    user-select: none;
    -webkit-user-select: none; /* Safari */
}

/* Evitar que los enlaces del sidebar se vean azules al clickear rápido */
.VPSidebarItem.level-0,
.VPSidebarItem.level-1,
.VPSidebarItem.level-2,
.VPLink {
    -webkit-tap-highlight-color: transparent;
}

.VPButton {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.VPDoc img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 1.5rem auto;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: zoom-in;

    will-change: transform;
    transform: translateZ(0);
}

.VPDoc img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 0 3px #fff, 0 4px 20px rgba(0, 0, 0, 0.3);
}