/* Evitar selección de texto en elementos de navegación global */
.VPNavBar, 
.VPSidebar, 
.VPFlyout,
.VPCleanButtons {
    user-select: none;
    -webkit-user-select: none; /* Safari */
}

/* Evitar que los enlaces del sidebar se vean azules al clickear rápido */
.VPSidebarItem.level-0,
.VPSidebarItem.level-1,
.VPSidebarItem.level-2,
.VPLink {
    -webkit-tap-highlight-color: transparent;
}

.VPButton {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

/* Tarjetas */
.cu-main-container {
    padding: 80px 24px;
    max-width: 1200px;
    margin: 0 auto;
    cursor: pointer;
}

.cu-badge {
    display: block;
    margin-top: 12px;
    opacity: 0.5;
    letter-spacing: 1px;
}